---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Bencheikh Mohamed " description="About Bencheikh Mohamed">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Bencheikh Mohamed At work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Having been a passionate fan of computing since a young age, it was only natural for me to specialize in this field. After completing a full stack JavaScript development course, I quickly became proficient in both front-end and back-end development, as evidenced by my projects.
					</p>
					<p>
						One of my key strengths is my adaptability to new environments and my eagerness to learn new things and technologies.


					</p>
					<p>
						Open by nature, I place great importance on communication and knowledge sharing, as I believe that teamwork is the most crucial element in our society.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificate</h2>
				<div class="content">
					<p>Full Stack JavaScript Training (Code 213),
					Bachelor's +2 in Chemistry (University of Algiers 1)






.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>HTML & CSS,
JavaScript,
Php/laravel,
React.js,
Node.js,
Express.js,
MySql,
MongoDB,
RESTful API Development,
Git & GitHub,
Responsive Web Design,
React Native,
Linux,
Redux</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
